:root {
  --primary-color: white;
  --secondary-color: #32ffff;
  --tertiary-color: #858585;

  --light-secondary-color: rgba(50, 255, 255, 0.2);

  --primary-accent-color: #a84dff;
  --secondary-accent-color: #ff6d56;
  --tertiary-accent-color: #ffff61;
  --dark-purple-color: #2d39ff;

  --text-color: black;
  --bg-color: black;

  --br-radius: 0.5rem;

  --sm-text-size: 0.95rem;
  --text-size: 1rem;
  --regular-text-size: 1.15rem;
  --title-size: 6.5rem;
  --subtitle-size: 1.5rem;
  --title-weight: bold;
  --light-weigth: 300;

  --font-main: 'Montserrat', sans-serif;
  --font-title: 'Bebas Neue', cursive;

  /*Media*/
  --max-xs: 575.99px;
  --min-sm: 576px;
  --max-sm: 767.99px;
  --min-md: 768px;
  --min-lg: 960px;
  --min-xl: 1200px;
  --min-xxl: 1500px;
}

body {
  font-size: var(--regular-text-size);
  font-family: var(--font-main);
  max-width: 1440px;
  margin: 0 auto;
}

/* header */

.menu {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 1rem;
  z-index: 99;
}
.hs3-logo {
  width: 160px;
}
nav {
  display: flex;
  padding-right: 1rem;
}

ul {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  font-size: var(--sm-text-size);
}
a {
  text-decoration: none;
  color: var(--text-color);
}
/* sections */

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section {
  display: flex;
  min-height: calc(100vh - 200px);
  padding: 2rem;
  width: 100%;
}

/* hero */
section.hero {
  min-height: fit-content;
  justify-content: center;
  align-items: center;
}
.hero-part {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1100px;
  justify-content: space-around;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.hero-part > * {
  flex: 1;
}
.hero-info {
  padding: 5%;
}

.hero-img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  padding-right: 2rem;
}
.hero-img img {
  max-width: 450px;
  width: 100%;
  height: auto;
}
.website {
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  font-size: var(--sm-text-size);
  letter-spacing: 0.5px;
  font-weight: 600;
}
.title {
  font-family: var(--font-title);
  font-size: var(--title-size);
  line-height: 0.85;
  letter-spacing: 5px;
}

.subtitle {
  text-transform: uppercase;
  padding: 0.45rem 0.6rem;
  background-color: var(--bg-color);
  color: var(--primary-color);
  width: fit-content;
  font-size: var(--text-size);
  letter-spacing: 2px;
  font-weight: 600;
  margin-bottom: 1rem;
}
.add-info {
  background: var(--bg-color);
  color: var(--primary-color);
  padding: 1rem 0.6rem;
  padding-right: 1rem;
  width: fit-content;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: var(--text-size);
}
.data {
  font-weight: bold;
}
.hour {
  padding: 0.5rem 0;
}

/* about */
.about {
  max-width: 1100px;
}
.about-bg {
  flex-direction: column;
  width: 500px;
  height: 500px;
  background-color: var(--light-secondary-color);
  display: flex;
  justify-content: center;
  align-items: left;
  padding: 5%;
  border-radius: var(--br-radius);
}

.about-bg h2 {
  font-size: var(--subtitle-size);
  margin-bottom: 4rem;
}
.about-bg p {
  line-height: 2;
}

/* footer */

footer {
  display: flex;
  width: 100%;
  align-items: center;
  height: 80px;
  padding: 0 1rem;
  justify-content: center;
}

/* media queries */
@media (max-width: 960px) {
  :root {
    --sm-text-size: 0.75rem;
    --text-size: 0.85rem;
    --regular-text-size: 1rem;
    --title-size: 4.5rem;
    --subtitle-size: 1.5rem;
  }
  .subtitle {
    width: min-content;
  }
}

@media (max-width: 768px) {
  .hero-part {
    flex-direction: column-reverse;
    padding-top: 0;
    max-width: 450px;
    margin: 0 auto;
  }
  .hero-img img {
    max-width: 250px;
    margin-top: 0;
    margin-bottom: 1rem;
  }
  .hero-info {
    max-width: 450px;
    padding: 5%;
  }
  .subtitle {
    width: min-content;
  }
}
