:root {
  --primary-color: white;
  --secondary-color: #32ffff;

  --light-secondary-color: #32ffff33;

  --primary-accent-color: #a84dff;
  --secondary-accent-color: #ff6d56;
  --tertiary-accent-color: #ffff61;
  --dark-purple-color: #2d39ff;

  --title-color: black;
  --text-color: #313030;
  --bg-color: black;

  --br-radius: 0.5rem;

  --sm-text-size: 0.95rem;
  --text-size: 1rem;
  --regular-text-size: 1.15rem;
  --title-size: 6.5rem;
  --small-title-size: 4.5rem;
  --subtitle-size: 1.5rem;
  --title-weight: bold;
  --light-weigth: 300;

  --font-main: 'Montserrat', sans-serif;
  --font-title: 'Bebas Neue', cursive;

  /*Media*/
  --max-xs: 575.99px;
  --min-sm: 576px;
  --max-sm: 767.99px;
  --min-md: 768px;
  --min-lg: 960px;
  --min-xl: 1200px;
  --min-xxl: 1500px;
}

body {
  font-size: var(--regular-text-size);
  font-family: var(--font-main);
  max-width: 1440px;
  color: var(--text-color);
}
/* * {
  outline: 1px solid red;
} */
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  margin: 0 auto;
}

/* header */

.menu {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 1rem;
  z-index: 99;
}
.nav-toggle {
  background: transparent;
  outline: transparent;
  border: transparent;
  cursor: pointer;
}
.nav-toggle:hover,
.nav-toggle:active,
.nav-toggle.focus {
  transform: rotate(90deg);
}
nav {
  display: flex;
  padding-right: 1rem;
}

.nav-list {
  display: flex;
  flex-direction: row;
  padding: 0 1rem;
  font-size: var(--text-size);
  list-style: none;
}
.nav-item {
  padding: 0.35rem;
  font-size: var(--regular-text-size);
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  border: 5px solid transparent;
}
.nav-item:hover,
.nav-item:focus,
.nav-item:active {
  border: 5px solid var(--secondary-color);
}
a {
  text-decoration: none;
  color: var(--text-color);
}
.color-text {
  font-weight: 600;
  font-size: var(--subtitle-size);
  background-image: linear-gradient(
    to left,
    var(--secondary-color),
    var(--primary-accent-color),
    var(--secondary-accent-color),
    /* var(--tertiary-accent-color), */ var(--dark-purple-color)
  );
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  padding: 0.5rem 0;
}
/* sections */

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section {
  display: flex;
  flex-direction: row;
  min-height: fit-content;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
  width: 100%;
  margin: 0;
  min-height: fit-content;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
section > * {
  flex: 1;
}

article {
  display: flex;
  flex-direction: column;
}

/* hero */

.hero {
  max-width: 1200px;
}

.hero-info {
  padding: 5%;
}

.hero-img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  padding-right: 2rem;
}
.hero-img img {
  max-width: 450px;
  width: 100%;
  height: auto;
}
.website {
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  font-size: var(--sm-text-size);
  letter-spacing: 0.5px;
  font-weight: 600;
  color: var(--title-color);
}
.title {
  font-family: var(--font-title);
  font-size: var(--title-size);
  line-height: 0.85;
  letter-spacing: 5px;
  color: var(--title-color);
}

.subtitle {
  text-transform: uppercase;
  padding: 0.45rem 0.6rem;
  background-color: var(--bg-color);
  color: var(--primary-color);
  width: fit-content;
  font-size: var(--text-size);
  letter-spacing: 2px;
  font-weight: 600;
  margin-bottom: 1rem;
}
.add-info {
  background: var(--bg-color);
  color: var(--primary-color);
  padding: 1rem 0.6rem;
  padding-right: 1rem;
  width: fit-content;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: var(--text-size);
}
.data {
  font-weight: bold;
}
.hour {
  padding: 0.5rem 0;
}
/* cta */

.cta {
  flex-direction: column;
  line-height: 2;
  margin-bottom: 0;
  max-width: 1200px;
}
.cta h2 {
  font-size: var(--subtitle-size);
}
.hs3-logo {
  width: 260px;
  margin: 2rem;
}

.cta button {
  font-size: var(--subtitle-size);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  background-color: var(--primary-color);
  padding: 1rem 2.25rem;
  outline: transparent;
  border: 13px solid var(--secondary-color);
  cursor: pointer;
}

/* about */
.about {
  display: flex;
  padding-top: 0;
  max-width: 1200px;
}

.lead-info {
  flex-basis: 400px;
  height: fit-content;
  background-color: var(--light-secondary-color);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 2.5rem 5%;
}

.lead-info h2,
.mission h2 {
  font-size: var(--subtitle-size);
}

.lead-info p {
  line-height: 2;
}
.mission {
  flex-basis: 700px;
  padding: 5%;
  line-height: 2;
  font-size: var(--regular-text-size);
}

.mission__list {
  padding-left: 1.5rem;
  font-weight: 500;
}
.mission__list > * {
  font-size: var(--regular-text-size);
}
.mission__list li ul {
  padding-left: 1rem;
}

.mission > .second-subtitle {
  margin: 0;
  margin-bottom: 2rem;
}

/* schedule */
.schedule {
  padding: 5%;
  font-size: var(--regular-text-size);
  max-width: 1200px;
}

.second-subtitle {
  width: fit-content;
  font-size: var(--subtitle-size);
  padding: 4rem 0.25rem 1rem;
  text-align: center;
  border-bottom-style: solid;
  border-bottom-width: 13px;
  border-image: radial-gradient(
      var(--secondary-color),
      var(--secondary-accent-color),
      var(--primary-accent-color),
      var(--dark-purple-color),
      var(--secondary-color),
      var(--secondary-accent-color),
      var(--primary-accent-color),
      var(--dark-purple-color)
    )
    1;
  margin: 0 auto;
  margin-bottom: 4rem;
}

.schedule ol {
  list-style: none;
  counter-reset: item;
}
.schedule li {
  counter-increment: item;
  margin-bottom: 5px;
  display: grid;
  grid-template-columns: 10rem 1fr;
  grid-template-rows: auto;
  margin: 2rem 0;
}
.schedule li::before {
  margin-right: 3rem;
  content: counter(item);
  background-image: linear-gradient(
    to left,
    var(--secondary-color),
    var(--primary-accent-color),
    var(--secondary-accent-color),
    /* var(--tertiary-accent-color)*/ var(--dark-purple-color)
  );
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: var(--small-title-size);
  font-weight: bold;
  width: 7rem;
  height: 7rem;
  text-align: center;
  display: flex;
  /* justify-content: left; */
  justify-content: center;
  align-items: center;
}

.schedule__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 3rem;
}
.schedule__speaker {
  font-size: var(--subtitle-size);
  padding: 1rem 0;
}
.schedule__title {
  font-size: var(--subtitle-size);
  font-weight: bold;
}

.text {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  line-height: 2;
}
.text:last-of-type {
  margin-bottom: 1.5rem;
}
.video {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* speakers */
.speakers {
  padding: 5%;
  font-size: var(--regular-text-size);
  max-width: 1200px;
  width: 100%;
  margin-bottom: 0;
  padding-bottom: 0;
}

.speakers-wrapper {
  padding: 4rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  width: 100%;
}

article.speaker {
  margin: 2rem 5%;
  max-width: 400px;
  /* min-width: 300px; */
  width: 100%;

  justify-content: space-between;
  padding-right: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 0.25rem;
  padding-top: 0.25rem;
  border-bottom-style: solid;
  border-right-style: solid;
  border-width: 13px;
  border-image: radial-gradient(
      var(--secondary-color),
      var(--secondary-accent-color),
      var(--primary-accent-color),
      var(--dark-purple-color),
      var(--secondary-color),
      var(--secondary-accent-color),
      var(--primary-accent-color),
      var(--dark-purple-color)
    )
    1;
}

.img-wrapper {
  display: block;
  max-width: 120px;
  max-height: 120px;
}
.img-wrapper img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
}

.speaker-row {
  display: flex;
  align-items: center;
  padding-bottom: 2rem;
}
.speaker-about {
  width: fit-content;
  margin-left: 2rem;
}
.speaker-name {
  font-size: var(--subtitle-size);
  font-weight: 500;
  padding-bottom: 0.75rem;
}

.speaker-info {
  line-height: 1.5;
  font-size: var(--text-size);
}
.more {
  margin: 1rem auto;
  padding: 0.5rem 0.25rem 0.25rem;
  font-weight: 500;
  cursor: pointer;
  color: var(--secondary-accent-color);
  font-size: var(--text-size);
}

/* single speaker*/
.single-speaker {
  padding: 5%;
  font-size: var(--regular-text-size);
  max-width: 1100px;
  display: grid;
  grid-template-columns: 10rem 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    'img about'
    '. text';
  border-bottom-style: solid;
  border-bottom-width: 13px;
  border-image: radial-gradient(
      var(--secondary-color),
      var(--secondary-accent-color),
      var(--primary-accent-color),
      var(--dark-purple-color),
      var(--secondary-color),
      var(--secondary-accent-color),
      var(--primary-accent-color),
      var(--dark-purple-color)
    )
    1;
  margin-bottom: 1rem;
}
.single-img {
  display: flex;
  grid-area: img;
  grid-column: 1/2;
  grid-row: 1/2;
  margin: 1rem 0;
}
.single-about {
  grid-area: about;
  grid-column: 2/3;
  grid-row: 1/2;
}
.single-text {
  grid-area: text;
  grid-column: 2/3;
  grid-row: 2/3;
  padding: 0.5rem;
  line-height: 1.5;
}
.lecture {
  display: flex;
  flex-direction: column;
  padding: 5%;
  font-size: var(--regular-text-size);
  max-width: 1100px;
}

.lecture p {
  line-height: 1.5;
}
.lecture > .subtitle {
  width: fit-content;
}

/* partners */
.partners {
  padding: 5%;
  font-size: var(--regular-text-size);
  max-width: 1100px;
  /* background-color: var(--light-secondary-color); */
  margin: 0 auto;
}

.first-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  max-width: 650px;
  width: 100%;
  margin: 2rem auto;
}

.logo-main {
  display: block;
  width: 200px;
  height: 200px;
}

.logo-main img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.second-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
}

.logo-next {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 120px;
  padding: 0.5rem;
}
.logo-next img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* footer */

footer {
  display: flex;
  width: 100%;
  align-items: center;
  height: 80px;
  padding: 0 1rem;
  justify-content: center;
  background-color: var(--secondary-color);
}

/* media queries */
@media (max-width: 960px) {
  :root {
    --sm-text-size: 0.75rem;
    --text-size: 0.85rem;
    --regular-text-size: 1rem;
    --title-size: 4.5rem;
    --subtitle-size: 1.5rem;
    --small-title-size: 3.75rem;
  }
  .subtitle {
    width: min-content;
  }
  .speakers-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
  }
  .single {
    width: max-content;
  }
  .single-speaker {
    display: grid;
    grid-template-columns: 10rem 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      'img about'
      '. text';
  }
}

@media (max-width: 768px) {
  :root {
    --sm-text-size: 0.75rem;
    --text-size: 0.85rem;
    --regular-text-size: 1rem;
    --title-size: 3.5em;
    --subtitle-size: 1.5rem;
    --small-title-size: 3rem;
  }
  .menu {
    flex-direction: column;
    height: min-content;
    padding: 5%;
  }
  .nav-list {
    flex-direction: column;
  }
  section {
    flex-direction: column-reverse;
    padding-top: 0;
    max-width: 450px;
    margin: 0 auto;
  }
  section.about {
    flex-direction: column;
  }
  .hero-img img {
    max-width: 250px;
    margin-top: 0;
    margin-bottom: 1rem;
  }
  .hero-info {
    max-width: 400px;
    padding: 5%;
  }
  .subtitle {
    width: min-content;
  }
  .lead-info {
    max-width: 400px;
    width: 100%;
  }
  .schedule li {
    display: flex;
    flex-direction: column;
    margin: 0.75rem 0;
  }
  .schedule__info {
    margin-left: 0;
  }
  .schedule li::before {
    justify-content: center;
    /* width: 100%; */
    margin-right: 0;
    margin: 0 auto;
  }
  .speaker-about {
    width: fit-content;
    margin-left: 1rem;
  }
  .img-wrapper img {
    max-width: 120px;
    max-height: 120px;
  }
  .single-speaker {
    display: flex;
    flex-direction: column;
  }
}
